.produtos {
	width: 100%;
	padding: 100px 20px 100px 20px;
	text-align: center;
}
.produtos .card-groups {
	margin: 50px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.produtos .card {
	width: calc(50% - 15px);
	padding: 20px 10px;
	margin: 0 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.produtos .card h2 {
	margin: 0;
	font-size: 32px;
}
.produtos .card p {
	margin: 0;
	font-weight: bold;
	font-size: 22px;
}
.produtos img {
	max-height: 150px;
	width: 80%;
	margin: 30px 0;
	object-fit: contain;
}
.produtos ul {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.produtos.li {
	text-align: left;
	margin: 5px;
}
