header {
	padding: 10px;
	background-color: #fff;
	display: flex;
	justify-content: center;
}
header div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav a {
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	font-size: 18px;
	color: #000;
}
header nav a:hover {
	color: #fff;
	border-radius: 20px;
	background-color: #03083d;
}
header img {
	width: 150px;
}
